# Conexión a la base de datos (Docker Local)
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/enlacehub?schema=public"

# Puerto del Servidor Node
PORT=3000

# Secreto para Tokens JWT
JWT_SECRET="super_secret_dev_key_123"

# Entorno
NODE_ENV="development"
